[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
rainbow-logging-handler = "*"
pip = "*"
virtualenv = "*"
pipdeptree = "*"
thoth-analyzer = ">=0.0.2"
pip-tools = "*"
thoth-common = ">=0.0.6"

[dev-packages]
coala = "*"
pycodestylebear = "*"
yamllintbear = "*"
pydocstylebear = "*"

[pipenv]
keep_outdated = true
