[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
rainbow-logging-handler = "*"
virtualenv = "*"
pipdeptree = "*"
thoth-analyzer = "*"
pip-tools = "*"
thoth-common = "*"
"autopep8" = "*"
requests = "*"
thoth-python = "*"

[dev-packages]
coala-bears = "*"

[pipenv]
keep_outdated = true

[requires]
python_version = "3.6"
