certifi==2018.1.18
chardet==3.0.4
click==6.7
colorama==0.3.9
delegator.py==0.0.14
distro==1.2.0
hashin==0.11.5
idna==2.6
logutils==0.3.5
pexpect==4.4.0
pipdeptree==0.11.0
ptyprocess==0.5.2
rainbow-logging-handler==2.2.2
requests==2.18.4
thoth-analyzer==0.0.4
urllib3==1.22
virtualenv==15.1.0
